# ---------------------------------
# 1. Import Libraries
# ---------------------------------

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings


pd.set_option('display.max_columns',None)
sns.set_theme(context='paper',style='darkgrid')

warnings.filterwarnings('ignore')

# ---------------------------------
# 2. Load Data
# ---------------------------------

In [4]:
df = pd.read_excel('premiums.xlsx')
print(df.shape)
df.head()

(50000, 13)

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339
2,49,Female,Northeast,Married,2,Normal,No Smoking,Self-Employed,10L - 25L,20,High blood pressure,Silver,18164
3,30,Female,Southeast,Married,3,Normal,No Smoking,Salaried,> 40L,77,No Disease,Gold,20303
4,18,Male,Northeast,Unmarried,0,Overweight,Regular,Self-Employed,> 40L,99,High blood pressure,Silver,13365

# ---------------------------------
# 3. Data Overview
# ---------------------------------

In [6]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    50000 non-null  int64
 1   Gender                 50000 non-null  object
 2   Region                 50000 non-null  object
 3   Marital_status         50000 non-null  object
 4   Number Of Dependants   50000 non-null  int64
 5   BMI_Category           50000 non-null  object
 6   Smoking_Status         49989 non-null  object
 7   Employment_Status      49998 non-null  object
 8   Income_Level           49987 non-null  object
 9   Income_Lakhs           50000 non-null  int64
 10  Medical History        50000 non-null  object
 11  Insurance_Plan         50000 non-null  object
 12  Annual_Premium_Amount  50000 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.0+ MB

                Age  Number Of Dependants  Income_Lakhs  Annual_Premium_Amount
count  50000.000000          50000.000000  50000.000000           50000.000000
mean      34.593480              1.712080     23.018200           15768.116320
std       15.000437              1.498248     24.219197            8419.839675
min       18.000000             -3.000000      1.000000            3501.000000
25%       22.000000              0.000000      7.000000            8608.000000
50%       31.000000              2.000000     17.000000           13929.000000
75%       45.000000              3.000000     31.000000           22275.250000
max      356.000000              5.000000    930.000000           43471.000000

In [7]:
# unique values in category column

In [29]:
cat_cols = [col for col in df.select_dtypes(include='object').columns]
for col in cat_cols:
    print(f"{col:<13}:{df[col].nunique():<15}:{df[col].unique()}\n")

Gender       :2              :['Male' 'Female']

Region       :4              :['Northwest' 'Southeast' 'Northeast' 'Southwest']

Marital_status:2              :['Unmarried' 'Married']

BMI_Category :4              :['Normal' 'Obesity' 'Overweight' 'Underweight']

Smoking_Status:6              :['No Smoking' 'Regular' 'Occasional' nan 'Smoking=0' 'Does Not Smoke'
 'Not Smoking']

Employment_Status:3              :['Salaried' 'Self-Employed' 'Freelancer' nan]

Income_Level :4              :['<10L' '10L - 25L' '> 40L' '25L - 40L' nan]

Medical History:9              :['Diabetes' 'High blood pressure' 'No Disease'
 'Diabetes & High blood pressure' 'Thyroid' 'Heart disease'
 'High blood pressure & Heart disease' 'Diabetes & Thyroid'
 'Diabetes & Heart disease']

Insurance_Plan:3              :['Bronze' 'Silver' 'Gold']

# ---------------------------------
# 4. Data Cleaning
# ---------------------------------