# ---------------------------------
# 1. Import Libraries
# ---------------------------------

In [30]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings


pd.set_option('display.max_columns',None)
sns.set_theme(context='paper',style='darkgrid')

warnings.filterwarnings('ignore')

# ---------------------------------
# 2. Load Data
# ---------------------------------

In [31]:
df = pd.read_excel('premiums.xlsx')
print(df.shape)
df.head()

(50000, 13)

,Age,Gender,Region,Marital_status,Number Of Dependants,BMI_Category,Smoking_Status,Employment_Status,Income_Level,Income_Lakhs,Medical History,Insurance_Plan,Annual_Premium_Amount
0,26,Male,Northwest,Unmarried,0,Normal,No Smoking,Salaried,<10L,6,Diabetes,Bronze,9053
1,29,Female,Southeast,Married,2,Obesity,Regular,Salaried,<10L,6,Diabetes,Bronze,16339
2,49,Female,Northeast,Married,2,Normal,No Smoking,Self-Employed,10L - 25L,20,High blood pressure,Silver,18164
3,30,Female,Southeast,Married,3,Normal,No Smoking,Salaried,> 40L,77,No Disease,Gold,20303
4,18,Male,Northeast,Unmarried,0,Overweight,Regular,Self-Employed,> 40L,99,High blood pressure,Silver,13365

# ---------------------------------
# 3. Data Overview
# ---------------------------------

In [32]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Age                    50000 non-null  int64
 1   Gender                 50000 non-null  object
 2   Region                 50000 non-null  object
 3   Marital_status         50000 non-null  object
 4   Number Of Dependants   50000 non-null  int64
 5   BMI_Category           50000 non-null  object
 6   Smoking_Status         49989 non-null  object
 7   Employment_Status      49998 non-null  object
 8   Income_Level           49987 non-null  object
 9   Income_Lakhs           50000 non-null  int64
 10  Medical History        50000 non-null  object
 11  Insurance_Plan         50000 non-null  object
 12  Annual_Premium_Amount  50000 non-null  int64
dtypes: int64(4), object(9)
memory usage: 5.0+ MB

                Age  Number Of Dependants  Income_Lakhs  Annual_Premium_Amount
count  50000.000000          50000.000000  50000.000000           50000.000000
mean      34.593480              1.712080     23.018200           15768.116320
std       15.000437              1.498248     24.219197            8419.839675
min       18.000000             -3.000000      1.000000            3501.000000
25%       22.000000              0.000000      7.000000            8608.000000
50%       31.000000              2.000000     17.000000           13929.000000
75%       45.000000              3.000000     31.000000           22275.250000
max      356.000000              5.000000    930.000000           43471.000000

In [33]:
# unique values in category column

In [34]:
cat_cols = [col for col in df.select_dtypes(include='object').columns]
for col in cat_cols:
    print(f"{col:<20}:{df[col].unique()}")

Gender              :['Male' 'Female']
Region              :['Northwest' 'Southeast' 'Northeast' 'Southwest']
Marital_status      :['Unmarried' 'Married']
BMI_Category        :['Normal' 'Obesity' 'Overweight' 'Underweight']
Smoking_Status      :['No Smoking' 'Regular' 'Occasional' nan 'Smoking=0' 'Does Not Smoke'
 'Not Smoking']
Employment_Status   :['Salaried' 'Self-Employed' 'Freelancer' nan]
Income_Level        :['<10L' '10L - 25L' '> 40L' '25L - 40L' nan]
Medical History     :['Diabetes' 'High blood pressure' 'No Disease'
 'Diabetes & High blood pressure' 'Thyroid' 'Heart disease'
 'High blood pressure & Heart disease' 'Diabetes & Thyroid'
 'Diabetes & Heart disease']
Insurance_Plan      :['Bronze' 'Silver' 'Gold']

# ---------------------------------
# 4. Data Cleaning
# ---------------------------------

In [ ]:
# Missing values
df.isna().sum()
df2 = df.fillna('Unknown')

Age                       0
Gender                    0
Region                    0
Marital_status            0
Number Of Dependants      0
BMI_Category              0
Smoking_Status           11
Employment_Status         2
Income_Level             13
Income_Lakhs              0
Medical History           0
Insurance_Plan            0
Annual_Premium_Amount     0
dtype: int64

In [39]:
df2.isna().sum()

Age                      0
Gender                   0
Region                   0
Marital_status           0
Number Of Dependants     0
BMI_Category             0
Smoking_Status           0
Employment_Status        0
Income_Level             0
Income_Lakhs             0
Medical History          0
Insurance_Plan           0
Annual_Premium_Amount    0
dtype: int64

In [50]:
df2=df2[df2['Age']<=80]

In [51]:
df2.duplicated().sum()

0

In [56]:
df2['Number Of Dependants'] = df2['Number Of Dependants'].apply(lambda row: abs(row) if row<0 else row)

In [80]:
df2['Income_Lakhs']=df2['Income_Lakhs'].apply(lambda row: int((row/100)*10) if row>=100 else row)

In [116]:
df2['Smoking_Status']=df2['Smoking_Status'].apply(lambda row: 'No Smoking' if row not in ['Regular', 'Occasional'] else row )

In [118]:
df2.describe()

                Age  Number Of Dependants  Income_Lakhs  Annual_Premium_Amount
count  49942.000000          49942.000000  49942.000000           49942.000000
mean      34.403648              1.717853     22.716191           15767.897041
std       13.682354              1.492130     21.914384            8418.981981
min       18.000000              0.000000      1.000000            3501.000000
25%       22.000000              0.000000      7.000000            8608.000000
50%       31.000000              2.000000     16.000000           13929.000000
75%       45.000000              3.000000     31.000000           22275.000000
max       72.000000              5.000000     99.000000           43471.000000

In [119]:
for col in cat_cols:
    print(f"{col:<20}:{df2[col].unique()}")

Gender              :['Male' 'Female']
Region              :['Northwest' 'Southeast' 'Northeast' 'Southwest']
Marital_status      :['Unmarried' 'Married']
BMI_Category        :['Normal' 'Obesity' 'Overweight' 'Underweight']
Smoking_Status      :['No Smoking' 'Regular' 'Occasional']
Employment_Status   :['Salaried' 'Self-Employed' 'Freelancer' 'Unknown']
Income_Level        :['<10L' '10L - 25L' '> 40L' '25L - 40L' 'Unknown']
Medical History     :['Diabetes' 'High blood pressure' 'No Disease'
 'Diabetes & High blood pressure' 'Thyroid' 'Heart disease'
 'High blood pressure & Heart disease' 'Diabetes & Thyroid'
 'Diabetes & Heart disease']
Insurance_Plan      :['Bronze' 'Silver' 'Gold']

Phase 4 – Exploratory Data Analysis (EDA)

Univariate Analysis:

Numeric → histograms, boxplots.

Categorical → countplots, percentages.

Bivariate Analysis:

Numeric vs Target → scatterplots, correlation heatmap.

Categorical vs Target → boxplots, group means.

Insights Gathering:

How premium varies with age, BMI, smoking, income, etc.

Which medical conditions contribute most.

In [120]:
df3 = df2.copy()

Phase 5 – Feature Engineering

Categorical Encoding:

Ordinal (Income_Level, BMI_Category).

One-hot (Region, Employment_Status, Insurance_Plan).

Medical History Expansion: Split into multiple binary flags (Diabetes=1/0, HeartDisease=1/0).

Interaction Features:

Age × Smoking_Status.

Income_Lakhs / Dependants.

Scaling:

Standardize numeric features if using regression/NN.

Tree models don’t need scaling.

Phase 6 – Outlier Handling

Cap/floor extreme values:

Age (18–100).

Dependants (0–6).

Income_Lakhs (winsorize at top 99%).

Premium (treat extreme high outliers carefully).